/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

/* VARIABLES */
:root {
    --font-black: #1f1f1f;
    --brand-color: #255D8D;
    --brand-color-light: #a1c2df;
    --brand-rgb: 0, 0, 0;
    --body: #727272;
    --box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.08);
    --transition: all 0.5s ease;
    --font-style: 'Roboto', sans-serif;
}

/* BODY */
* {
    font-family: var(--font-style);
}

body {
    font-family: var(--font-style);
    line-height: 1.7;
    color: var(--body);
}

a {
    text-decoration: none;
    transition: var(--transition);
}

a:hover {
    color: var(--font-black);
}

.head {
    color: var(--brand-color);
}

#btn-bg-clr {
    background-color: var(--brand-color);
    border: none;
    text-decoration: none;
    color: #fff;
}

#btn-bg-clr:hover {
    background-color: var(--font-black);
    border: none;
    text-decoration: none;
    color: var(--brand-color-light);
}

.line {
    width: 120px;
    height: 3px;
    border-radius: 10px;
    background-color: var(--brand-color);
    margin-bottom: 1em;
    margin-top: -0.5em;
}

.whatsapp-btn {
    z-index: 999;
}

/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {

    color: var(--body);
}

.navbar-nav .nav-link.active {
    font-weight: 500;
    color: var(--brand-color);
}

.nav-link:hover {
    font-weight: 500;
    color: var(--font-black);
}

.logo-img {
    width: 10em;
}

/* HOME */
#home {
    background: linear-gradient(rgba(var(--brand-rgb), 0.700), rgba(var(--brand-rgb), 0.300)), url('../images/banner-1.jpg');
    background-position: center;
    background-size: cover;
}

/* BOOK NOW */
.form-box {
    box-shadow: var(--box-shadow);
    border-radius: 8px;
}

/* SERVICES */
img {
    max-width: 100%;
    height: auto;
}

.service {
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.serv-img {
    border-radius: 5px;
}

.service-align {
    margin-left: -1.5em;
}

ul{
    list-style: none;
}

/* ABOUT US */
.brand-logo {
    width: 20em;
    height: 5em;
    background-image: url("../images/Brand-logo.jpg");
    background-position: center;
    background-size: cover;
}

/* FEATURE */
#feature {
    background: linear-gradient(rgba(var(--brand-rgb), 0.700), rgba(var(--brand-rgb), 0.300)), url('../images/bg-1.jpg');
    background-position: center;
    background-size: cover;
}

.feature-img {
    width: 5em;
}

.feature-card {
    border-radius: 10px;
}

/* FOOTER */
.ul-list {
    text-decoration: none;
    color: white;
}

footer ul{
    list-style: none;
    padding: 0;
}